<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/stylesheets/main.scss">
  <link rel="stylesheet" href="/public/fonts/space-grotesk.css">
  <title>Document</title>
</head>
<body>
  <div id="app" @click="unsetSelectedShadeIfNotClickingShade">
    <div class="stage">
      <div class="card" :style="{'--current-color-100': shadeToHSL(100), '--current-color-200': shadeToHSL(200), '--current-color-300': shadeToHSL(300), '--current-color-400': shadeToHSL(400), '--current-color-500': shadeToHSL(500), '--current-color-600': shadeToHSL(600), '--current-color-700': shadeToHSL(700), '--current-color-800': shadeToHSL(800), '--current-color-900': shadeToHSL(900)}">
        <div class="card--icon">
          <svg id="book" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M2 3.993A1 1 0 0 1 2.992 3h18.016c.548 0 .992.445.992.993v16.014a1 1 0 0 1-.992.993H2.992A.993.993 0 0 1 2 20.007V3.993zM4 5v2h2V5H4zm14 0v2h2V5h-2zM4 9v2h2V9H4zm14 0v2h2V9h-2zM4 13v2h2v-2H4zm14 0v2h2v-2h-2zM4 17v2h2v-2H4zm14 0v2h2v-2h-2z"/></svg>   
        </div>
        <h1>The series of the century is going <span class="underline">back to basics.</span></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut tincidunt nulla, eget tempor sapien. In velit ligula, dignissim sit amet lacus eu, bibendum laoreet erat. Aliquam scelerisque venenatis odio eget cursus. Aenean nec libero vestibulum, rhoncus elit nec, hendrerit libero.</p>
        <div class="mock-button-container">
          <a href="#" class="mock-button mock-button--secondary" role="button">Learn More</a>
          <a href="#" class="mock-button mock-button--primary" role="button">Purchase</a>
        </div>
        <div class="mock-button-container">
          <a href="#" class="mock-button mock-button--secondary mock-button--hover" role="button">Learn More</a>
          <a href="#" class="mock-button mock-button--primary mock-button--hover" role="button">Purchase</a>
        </div>
      </div>
      <div class="palette" v-on:click.stop>
        <div class="palette-info">
          <h1 class="palette__name">Green</h1>
          <div class="palette__attributes">
            <h2 class="palette__attribute">Hue</h2>
            <h2 class="palette__attribute">Saturation</h2>
            <h2 class="palette__attribute">Brightness</h2>
          </div>
        </div>
        <Color name="green" shade="100"></Color>
        <Color name="green" shade="200"></Color>
        <Color name="green" shade="300"></Color>
        <Color name="green" shade="400"></Color>
        <Color name="green" shade="500"></Color>
        <Color name="green" shade="600"></Color>
        <Color name="green" shade="700"></Color>
        <Color name="green" shade="800"></Color>
        <Color name="green" shade="900"></Color>
      </div>
    </div>
    <footer class="nav-footer">
      <div class="footer-container">
        <div>
          <img src="/public/images/icons/logo--tentative.svg" alt="" class="logo">
          <div class="button-group">
            <a @click="undo" class="button" role="button" v-on:click.stop>
              include /public/images/icons/Undo.svg
              <span>Undo</span>
            </a>
            <a @click="redo" class="button" role="button" v-on:click.stop>
              include /public/images/icons/Redo.svg
              <span>Redo</span>
            </a>
          </div>
          <div class="button-group">
            <a @click="copy" :class="{button: true, 'button--disabled': currentlySelectedShade === null}" role="button" v-on:click.stop>
              include /public/images/icons/Copy.svg
              <span>Copy</span>
            </a>
            <a @click="paste" :class="{button: true, 'button--disabled': currentlySelectedShade === null}" role="button" v-on:click.stop>
              include /public/images/icons/Paste.svg
              <span>Paste</span>
            </a>
            <a @click="toggleVisibility" :class="{button: true, 'button--disabled': currentlySelectedShade === null}" role="button" v-on:click.stop>
              include /public/images/icons/Hide.svg
              <span>Hide</span>
            </a>
          </div>
        </div>
        <div>
          <div class="button-group">
            <a class="button button--disabled" role="button" v-on:click.stop>
              include /public/images/icons/Save.svg
              <span>Save</span>
            </a>
            <a class="button button--disabled" role="button" v-on:click.stop>
              include /public/images/icons/Load.svg
              <span>Load</span>
            </a>
            <a class="button button--primary" role="button" v-on:click.stop>
              include /public/images/icons/Export.svg
              <span>Export</span>
            </a>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <script src="/public/scripts/main.js"></script>
</body>
</html>