<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/stylesheets/main.scss">
  <link rel="stylesheet" href="/public/fonts/space-grotesk.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <title>Palette Peeve</title>
</head>
<body>
  <div id="app" @click="unsetSelectedShadeIfNotClickingShade" :class="{ 'app': true, 'app--dragging': dragged }">
    <Modal></Modal>
    <Tooltip></Tooltip>
    <Ripple></Ripple>
    <div class="stage">
      <Sidebar v-if="showingSidebar"></Sidebar>
      <div class="main">
        <div class="modal" :style="{'--current-color-100': shadeToHSL(100), '--current-color-200': shadeToHSL(200), '--current-color-300': shadeToHSL(300), '--current-color-400': shadeToHSL(400), '--current-color-500': shadeToHSL(500), '--current-color-600': shadeToHSL(600), '--current-color-700': shadeToHSL(700), '--current-color-800': shadeToHSL(800), '--current-color-900': shadeToHSL(900)}">
          <div class="modal--icon">
            <svg id="book" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M2 3.993A1 1 0 0 1 2.992 3h18.016c.548 0 .992.445.992.993v16.014a1 1 0 0 1-.992.993H2.992A.993.993 0 0 1 2 20.007V3.993zM4 5v2h2V5H4zm14 0v2h2V5h-2zM4 9v2h2V9H4zm14 0v2h2V9h-2zM4 13v2h2v-2H4zm14 0v2h2v-2h-2zM4 17v2h2v-2H4zm14 0v2h2v-2h-2z"/></svg>   
          </div>
          <h1>The series of the century is going <span class="underline">back to basics.</span></h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut tincidunt nulla, eget tempor sapien. In velit ligula, dignissim sit amet lacus eu, bibendum laoreet erat. Aliquam scelerisque venenatis odio eget cursus. Aenean nec libero vestibulum, rhoncus elit nec, hendrerit libero.</p>
          <div class="modal-button-container">
            <a href="#" class="modal-button modal-button--secondary" role="button">Learn More</a>
            <a href="#" class="modal-button modal-button--primary" role="button">Purchase</a>
          </div>
          <div class="modal-button-container">
            <a href="#" class="modal-button modal-button--secondary modal-button--hover" role="button">Learn More</a>
            <a href="#" class="modal-button modal-button--primary modal-button--hover" role="button">Purchase</a>
          </div>
        </div>
        <div class="palette" v-on:click.stop>
          <div class="palette__info">
            <textarea class="palette__name" type="text" v-model="currentPaletteName"></textarea>
            <div class="palette__attributes">
              <h2 class="palette__attribute">Hue</h2>
              <h2 class="palette__attribute">Saturation</h2>
              <h2 class="palette__attribute">Lightness</h2>
            </div>
          </div>
          <Color index="0" shade="100"></Color>
          <Color index="0" shade="200"></Color>
          <Color index="0" shade="300"></Color>
          <Color index="0" shade="400"></Color>
          <Color index="0" shade="500"></Color>
          <Color index="0" shade="600"></Color>
          <Color index="0" shade="700"></Color>
          <Color index="0" shade="800"></Color>
          <Color index="0" shade="900"></Color>
        </div>
      </div>
    </div>
    <footer class="nav-footer">
      <div class="footer-container">
        <div>
          <img src="/public/images/icons/logo.svg" alt="" class="logo">
          <div class="button-group">
            <ui-button name="Undo" action="undo" :imageurl="icons['undo']" keyboardshortcut="Ctrl,Z"></ui-button>
            <ui-button name="Redo" action="redo" :imageurl="icons['redo']" keyboardshortcut="Ctrl,Shift,Z"></ui-button>
          </div>
          <div class="button-group">
            <ui-button name="Copy" action="copy" :imageurl="icons['copy']" keyboardshortcut="Ctrl,C" activewhenselecting="true"></ui-button>
            <ui-button name="Paste" action="paste" :imageurl="icons['paste']" keyboardshortcut="Ctrl,V" activewhenselecting="true"></ui-button>
            <ui-button name="Hide" action="toggleVisibility" :imageurl="icons['hide']" keyboardshortcut="Ctrl,D" activewhenselecting="true"></ui-button>
          </div>
        </div>
        <div>
          <div class="button-group">
            <ui-button name="Save" action="save" :imageurl="icons['save']" keyboardshortcut="Ctrl,S" buttondisabled="true"></ui-button>
            <ui-button name="Load" action="load" :imageurl="icons['load']" keyboardshortcut="Ctrl,L" buttondisabled="true"></ui-button>
            <ui-button name="Export" action="showSidebar" :imageurl="icons['export']" keyboardshortcut="Ctrl,Shift,E"></ui-button>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <script src="/public/scripts/main.js"></script>
</body>
</html>