$gray100: #EEF0F6;
$gray200: #DCDFEA;
$gray300: #C8CDDA;
$gray400: #B7BDCC;
$gray500: #A7ABBE;
$gray600: #8A90A8;
$gray700: #686E84;
$gray800: #52576B;
$gray900: #454854;
$blue100: #edf4ff;
$blue200: #d0dafa;
$blue300: #95abf4;
$blue400: #5d7de8;
$blue500: #4669db;
$blue600: #2255bb;
$blue700: #1c4599;
$blue800: #133a70;
$blue900: #132c54;

$shadeFont: normal normal normal expanded 1rem/1.25 "Iosevka", monospace;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
}

h1, h2, h3, h4, h5, h6, a, p {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 1rem;
}

.card {
  --current-color-100: #EEF0F6;
  --current-color-200: #DCDFEA;
  --current-color-300: #C8CDDA;
  --current-color-400: #B7BDCC;
  --current-color-500: #A7ABBE;
  --current-color-600: #8A90A8;
  --current-color-700: #686E84;
  --current-color-800: #52576B;
  --current-color-900: #454854;
  max-width: 48rem;
  padding: 2rem 3rem;
  background: var(--current-color-100);
  border-radius: 0.25rem;
  &--icon {
    height: 3rem;
    width: 3rem;
    background: var(--current-color-200);
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    path {
      fill: var(--current-color-600);
    }
  }
  h1 {
    margin-top: 1rem;
    color: var(--current-color-900);
    font-size: 2rem;
    font-weight: bold;
  }
  p {
    margin-top: 0.5rem;
    font-size: 1.25rem;
    line-height: 150%;
    color: var(--current-color-800);
  }
  .mock-button-container {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
    a.mock-button {
      margin-left: 1rem;
    }
  }
  span.underline {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    background: var(--current-color-300);
  }
}

a.mock-button {
  display: block;
  padding: 0.75rem 1.5rem 0.625em;
  border-radius: 0.25rem;
  background: var(--current-color-200);
  color: var(--current-color-700);
  font-weight: 600;
  text-decoration: none;
  transition: background ease-in-out 50ms, color ease-in-out 50ms;
  &--primary {
    background: var(--current-color-500);
    color: black;
    &.mock-button--hover, &:hover {
      background: var(--current-color-400);
    }
  }
  &--secondary {
    &.mock-button--hover, &:hover {
      color: var(--current-color-600);
    }
  }
}

.palette {
  display: flex;
  .palette-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 4rem;
    padding: 1rem 0;
    text-align: right;
    h1 {
      font-weight: 500;
      font-size: 2rem;
      color: $gray900;
    }
    .palette__attributes {
      margin-bottom: -2px;
      h2 {
        line-height: 28px;
        margin-top: 1px;
      }
    }
    h2 {
      color: $gray800;
      font-size: 1rem;
    }
  }
}

.color {
  height: 16rem;
  width: 8rem;
  box-sizing: border-box;
  cursor: pointer;
  &--light {
    div.input {
      color: black;
    }
    div.input:hover {
      background: rgba(0,0,0,0.1);
    }
    div.input:active {
      background: rgba(0,0,0,0.2);
    }
  }
  &--dark {
    div.input {
      color: white;
    }
    div.input:hover {
      background: rgba(255,255,255,0.1);
    }
    div.input:active {
      background: rgba(255,255,255,0.2);
    }
  }
  .color__inner {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    & > div {
      &:first-child {
        align-self: flex-start;
      }
      &:last-child {
        align-self: flex-end;
      }
    }
  }
  &.selected .color__inner:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    pointer-events: none;
    border: 0.25rem solid $blue400;
  }
  &.selected .color__inner:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    pointer-events: none;
    border: 6px solid white;
  }
  div.input {
    user-select: none;
    -webkit-user-select: none;
  }
  .input {
    text-align: right;
    width: 3ch;
    margin-top: 1px;
    padding: 0.25rem 0.5rem;
    color: inherit;
    appearance: textfield;
    -webkit-appearance: textfield;
    border: none;
    background: transparent;
    font: $shadeFont;
    transition: background ease-in-out 50ms;
    &.warning {
      border: 1px solid red;
    }
    &.dragged {
      background: transparent;
      user-select: none;
      -webkit-user-select: none;
      caret-color: transparent !important;
      cursor: e-resize;
    }
    &.selected {
      background: white;
      padding: 3px 7px;
      border: 1px solid black;
      color: black;
    }
  }
}

.contrast-indicator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  height: 2rem;
  width: 6rem;
  margin-left: 0.5rem;
  box-sizing: border-box;
  // border: 2px solid $gray900;
  border-radius: 1rem;
  font: $shadeFont;
  color: black;
  & > * {
    pointer-events: none;
  }
  img {
    margin: 0.5rem;
    height: 1.5rem;
    width: 1.5rem;
  }
  p {
    flex-grow: 1;
    text-align: center;
    margin-right: 1rem;
  }
  // &--warning {
  //   background: #f8f2af;
  // }
  // &--error {
  //   background: #fcd0cf;
  // }
}

footer.nav-footer {
  height: 8rem;
  width: 100%;
  background: $gray100;
  .footer-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 80rem;
    > div {
      display: flex;
      align-items: center;
      gap: 2rem;
      .button-group {
        display: flex;
        gap: 0.5rem;
      }
    }
  }
}

a.button {
  margin: -1rem -0.25rem;
  padding: 1rem 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 4rem;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  > * {
    pointer-events: none;
  }
  img {
    margin-bottom: 0.5rem;
  }
  span {
    font-weight: 500;
    color: $gray900;
  }
  &--disabled {
    cursor: not-allowed;
    img {
      opacity: 0.5;
    }
    span {
      color: $gray500;
    }
  }
}

.tooltip {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 0.75rem 1rem;
  background: $gray900;
  color: white;
  border-radius: 0.5rem;
  font-weight: 500;
  text-align: center;
  gap: 0.5rem;
  opacity: 0;
  transition: opacity ease-in-out 50ms;
  z-index: 1;
  pointer-events: none;
  &:after {
    content: '';
    position: absolute;
    bottom: -1rem;
    left: calc(50% - 0.5rem);
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-top: 0.5rem solid $gray900;
    border-bottom: 0.5rem solid transparent;
  }
  &--keyboard {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    & > div.tooltip--key {
      padding: 0.5rem 0.5rem 0.25rem;
      background: $gray700;
      border-radius: 0.25rem;
    }
  }
}


.ripple {
  position: absolute;
  height: 6rem;
  width: 6rem;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 99rem;
  pointer-events: none;
  opacity: 0;
  z-index: 1;
  transition: opacity ease-in-out 100ms, transform ease-out 50ms, background ease-out 50ms;
  transform: scale(1);
  &--active {
    transform: scale(0.83);
    background: rgba(0, 0, 0, 0.2);
  }
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .stage {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  &--dragging {
    cursor: e-resize !important;
    & * {
      cursor: e-resize !important;
    }
  }
}
